@media only screen and (max-width:500px) {

       .container{
        background-color:black;
        height: 60vh;
        width: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .star{
        margin-top: 3vh;
        padding: 2vh;
        font-size: 3vh;
    }
    
}




body{
    margin: 0%;
    height: 100vh;
    display: flex;
        justify-content: center;
        align-items: center;
    }
    .container{
        background-color:black;
        height: 60vh;
        width: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .inside-box{
        height: 45vh;
        width: 40vw;
        background-color:white;
        border-radius: 10px;
        padding-bottom: 0%;
    }
    p{
        text-align: center;
        padding-top: 0%;
        font-size: 1.5em;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .emoji{
        text-align: center;
        font-size: 3em;
        
    }
    .remarks-box{
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .remarks{
        background-color: black;
        color: white;
        margin-top: 5vh;
        display: inline-block;
        border: 1px solid black;
        border-radius: 17px;
        padding: 6px;
        padding-right: 5vh;
        padding-left: 5vh;
    }
    .star-box{
        display:flex ;
        justify-content: center;
    }
    .star{
        margin-top: 2vh;
        padding: 4vh;
        font-size: 5vh;
    }
